<script src="./TopBar.js"></script>
<template>
    <div id='topBar'>
        <el-menu theme="dark" default-active="1" class="el-menu fixed flexbox" mode="horizontal" @select="handleSelect" v-bind:style='{"background-color":bgColor}'>
            <el-menu-item index="xmgc" v-bind:class='(bgColor=="inherit")?"wt":""'>
                <a v-bind:href="conf.urls.www">
                    <img v-if='bgColor=="inherit"' src='//editor.xmgc360.com/imgs/xmgc80bai.png' width="80px" style="margin-top:20px">
                    <img v-if='bgColor!="inherit"' src='//editor.xmgc360.com/imgs/xmgc80lan.png' width="80px" style="margin-top:20px">
                </a>
            </el-menu-item>
            <el-menu-item index="jmn" v-bind:class='(bgColor=="inherit")?"wt":""'>
                <a v-bind:href="conf.urls.jmnkt">
                    <div style="display:inline-block">
                        <img v-if='bgColor=="inherit"' src='//editor.xmgc360.com/imgs/jmnhead24bai.png' width="24px" style="margin-top:16px">
                        <img v-if='bgColor!="inherit"' src='//editor.xmgc360.com/imgs/jmnhead24lan.png' width="24px" style="margin-top:16px">
                    </div>
                    <div style="display:inline-block;vertical-align:top;">杰米诺课堂</div>
                </a>
            </el-menu-item>
            <el-menu-item index="null" style='flex-grow:1;padding:0'></el-menu-item>

            <el-menu-item index="login" class='rf' v-if='!myProfile.name' v-bind:class='(bgColor=="inherit")?"wt":""'>
                <a v-bind:href="conf.urls.loginPage">登录</a>
            </el-menu-item>

            <el-menu-item index="login" class='rf' v-if='!myProfile.name' v-bind:class='(bgColor=="inherit")?"wt":""'>
                <a v-bind:href="conf.urls.regPage">注册</a>
            </el-menu-item>


            <el-menu-item index="profile" class='rf' v-if='myProfile.name'>
                <el-dropdown v-bind:class='(bgColor=="inherit")?"wt":"light"' trigger='click'>
                    <div class="el-dropdown-link">
                        <div class="disib">
                            <img class='avatar' v-bind:src="myProfile.thum?myProfile.thum:'http://www.xmgc360.com/_imgs/thumtemp.jpg'" width="32px" style='margin-top:12px'>
                            <div class='disib uname'>{{myProfile.name}}</div>
                        </div>
                        <i class="el-icon-caret-bottom el-icon--right"></i>
                    </div>
                    <el-dropdown-menu slot="dropdown" style='width:150px'>
                        <el-dropdown-item>
                            <a v-bind:href='conf.urls.www'>我的首页</a>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <a v-bind:href='conf.urls.profilePage'>资料设置</a>
                        </el-dropdown-item>
                        <el-dropdown-item>退出账号</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-menu-item>
        </el-menu>
    </div>
</template>

<style scoped>
    .fixed {
        position: fixed;
        width: 100%;
    }

    .flexbox {
        display: flex
    }

    .rf {
        float: right
    }

    .wt {
        color: white
    }

     .light {
        color: rgb(192, 204, 218);
    }

    .avatar {
        border-radius: 32px;
    }

    .disib {
        display: inline-block;
        vertical-align: top
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .uname{
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

</style>
